In [1]:
from func import *

In [2]:
raw_df = load_csvs_from_ftp_to_df(provided_local_dir="/")
processed_df = pre_process(raw_df)
df_clean = processed_df.copy(deep=True)

In [3]:
quality_summary_table = data_quality_summary(processed_df)
quality_summary_table.sort_values(by=["missing_%"], ascending=False)

                      column           dtype  n_unique  missing_%  num_missing
36    BelowGradeFinishedArea         float64        42      99.29        67337
23               BuilderName          object       812      95.41        64707
43         LotSizeDimensions          object      2780      93.62        63493
31         BuildingAreaTotal         float64      2444      93.47        63389
20          ElementarySchool          object      1124      86.79        58859
38      MiddleOrJuniorSchool          object       585      86.57        58708
41                HighSchool          object       476      82.63        56038
17   AssociationFeeFrequency          object         4      75.00        50865
16          CoListOfficeName          object      2346      73.42        49793
25           SubdivisionName          object      5638      64.52        43755
45         MainLevelBedrooms         float64        21      39.13        26537
2                   Flooring          object       233      34.80        23600
50            AssociationFee         float64      1286      29.46        19981
48        HighSchoolDistrict          object       394      26.84        18205
18              MLSAreaMajor          object       971      15.09        10235
21          AttachedGarageYN          object         2      11.74         7965
40                   Stories         float64         2      10.15         6885
3                     ViewYN          object         2       9.58         6499
46         NewConstructionYN          object         2       7.68         5210
4              PoolPrivateYN          object         2       7.64         5183
42                    Levels          object        17       6.91         4685
26            BuyerOfficeAOR          object        59       5.99         4063
47              GarageSpaces         float64        30       3.98         2699
24              LotSizeAcres         float64      7163       1.69         1146
51         LotSizeSquareFeet         float64     15177       1.69         1148
44               LotSizeArea         float64     15208       1.68         1138
15           BuyerOfficeName          object      9088       1.15          783
52               EmailDomain          object      8734       0.34          232
5          OriginalListPrice         float64      6426       0.21          140
28       StreetNumberNumeric         float64     23719       0.09           62
39               FireplaceYN          object         2       0.07           45
10           UnparsedAddress          object     67469       0.07           48
27                 YearBuilt         float64       153       0.05           33
11                LivingArea         float64      4907       0.05           33
30                      City          object       868       0.04           25
29     BathroomsTotalInteger         float64        18       0.02           11
0              BuyerAgentAOR          object        52       0.02           11
1               ListAgentAOR          object        52       0.02           11
9                  Longitude         float64     66269       0.01            4
8                   Latitude         float64     65836       0.01            4
34      PurchaseContractDate          object       400       0.01            5
37           StateOrProvince          object         3       0.00            0
22              ParkingTotal         float64        81       0.00            1
35       ListingContractDate          object       670       0.00            0
14            ListOfficeName          object      8244       0.00            0
13              DaysOnMarket           int64       454       0.00            0
12                 ListPrice         float64      6328       0.00            0
33  ContractStatusChangeDate          object       183       0.00            0
7                 ClosePrice         float64      7517       0.00            0
49                PostalCode          object      1675       0.00            1
6                  CloseDate  datetime64[ns]       183       0.00            0
32             BedroomsTotal         float64        16       0.00            0
19            CountyOrParish          object        57       0.00            0

In [4]:
# Drop "BuilderName" and "LotSizeDimensions" due to high rate of missing
df_clean.drop(["BuilderName", "LotSizeDimensions"], inplace=True, axis=1)

In [5]:
# range for latitude: between 31 and 42, longitude between -125 and -115
df_clean = df_clean[(df_clean["Latitude"].between(31, 42) ) & (df_clean["Longitude"].between(-125, -115))]

In [6]:
# For "City", "SubdivisionName", Nearest-neighbor assignment through longitude and latitude
df_clean = fill_na_by_cluster(df=df_clean,
                              target_col_list=["City", "SubdivisionName"],
                              reference_col_list=["Longitude", "Latitude"],
                              method="knn")

In [7]:
# For "Levels", "Flooring", using binary flag, fill the na with false
df_clean = create_flag(df_clean, ["Levels", "Flooring"])

C:\My_Programs\Python_Project\IDX_Intern\func.py:242: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_copy[val + "YN"] = df_copy[val + "YN"].fillna(False)
C:\My_Programs\Python_Project\IDX_Intern\func.py:242: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_copy[val + "YN"] = df_copy[val + "YN"].fillna(False)
C:\My_Programs\Python_Project\IDX_Intern\func.py:242: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_copy[val + "YN"] = df_copy[val + "YN"].fillna(False)
C:\My_Programs\Python_Project\IDX_Intern\func.py:242: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_copy[val + "YN"] = df_copy[val + "YN"].fillna(False)
C:\My_Programs\Python_Project\IDX_Intern\func.py:242: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_copy[val + "YN"] = df_copy[val + "YN"].fillna(False)
C:\My_Programs\Python_Project\IDX_Intern\func.py:242: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_copy[val + "YN"] = df_copy[val + "YN"].fillna(False)
C:\My_Programs\Python_Project\IDX_Intern\func.py:242: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_copy[val + "YN"] = df_copy[val + "YN"].fillna(False)
C:\My_Programs\Python_Project\IDX_Intern\func.py:242: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_copy[val + "YN"] = df_copy[val + "YN"].fillna(False)
C:\My_Programs\Python_Project\IDX_Intern\func.py:242: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_copy[val + "YN"] = df_copy[val + "YN"].fillna(False)
C:\My_Programs\Python_Project\IDX_Intern\func.py:242: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_copy[val + "YN"] = df_copy[val + "YN"].fillna(False)
C:\My_Programs\Python_Project\IDX_Intern\func.py:242: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_copy[val + "YN"] = df_copy[val + "YN"].fillna(False)
C:\My_Programs\Python_Project\IDX_Intern\func.py:242: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_copy[val + "YN"] = df_copy[val + "YN"].fillna(False)
C:\My_Programs\Python_Project\IDX_Intern\func.py:242: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_copy[val + "YN"] = df_copy[val + "YN"].fillna(False)
C:\My_Programs\Python_Project\IDX_Intern\func.py:242: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_copy[val + "YN"] = df_copy[val + "YN"].fillna(False)

In [8]:
# For "CoListOfficeName", "MLSAreaMajor", "BuyerOfficeAOR", "BuyerOfficeName", "EmailDomain", fill with mode by city
df_clean = fill_na_with_mode(df=df_clean,
                             target_col_list=["CoListOfficeName", "MLSAreaMajor", "BuyerOfficeAOR", "BuyerOfficeName", "EmailDomain"],
                             reference_col="City")

In [9]:
# For school-related variables, Nearest-neighbor assignment through longitude and latitude
df_clean = fill_na_by_cluster(df=df_clean,
                              target_col_list=["ElementarySchool", "MiddleOrJuniorSchool", "HighSchool", "HighSchoolDistrict"],
                              reference_col_list=["Longitude", "Latitude"],
                              method="knn")

In [10]:
# For "YN" variables, fill the na with False
df_clean["AttachedGarageYN"] = df_clean["AttachedGarageYN"].fillna(False)
df_clean["ViewYN"] = df_clean["ViewYN"].fillna(False)
df_clean["NewConstructionYN"] = df_clean["NewConstructionYN"].fillna(False)
df_clean["PoolPrivateYN"] = df_clean["PoolPrivateYN"].fillna(False)
df_clean["FireplaceYN"] = df_clean["FireplaceYN"].fillna(False)

C:\Users\lee39\AppData\Local\Temp\ipykernel_9668\2920445219.py:2: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_clean["AttachedGarageYN"] = df_clean["AttachedGarageYN"].fillna(False)
C:\Users\lee39\AppData\Local\Temp\ipykernel_9668\2920445219.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_clean["ViewYN"] = df_clean["ViewYN"].fillna(False)
C:\Users\lee39\AppData\Local\Temp\ipykernel_9668\2920445219.py:4: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_clean["NewConstructionYN"] = df_clean["NewConstructionYN"].fillna(False)
C:\Users\lee39\AppData\Local\Temp\ipykernel_9668\2920445219.py:5: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_clean["PoolPrivateYN"] = df_clean["PoolPrivateYN"].fillna(False)
C:\Users\lee39\AppData\Local\Temp\ipykernel_9668\2920445219.py:6: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_clean["FireplaceYN"] = df_clean["FireplaceYN"].fillna(False)

In [11]:
# Drop "UnparsedAddress"
df_clean.drop(["UnparsedAddress"], axis=1, inplace=True)

In [12]:
# For "BuyerAgentAOR" and "ListAgentAOR", fill na with other
df_clean["BuyerAgentAOR"] = df_clean["BuyerAgentAOR"].fillna("Other")
df_clean["ListAgentAOR"] = df_clean["ListAgentAOR"].fillna("Other")

In [13]:
# Drop "PurchaseContractDate", not related with "ClosePrice", since we already have "CloseDate"
df_clean.drop(["PurchaseContractDate"], axis=1, inplace=True)

In [14]:
# For other variables, clustering according to all variables, then fill the na
quality_summary_table = data_quality_summary(df_clean)
col_need_to_fill_na = quality_summary_table[quality_summary_table["num_missing"] > 0]["column"]
reference_col_list = quality_summary_table[quality_summary_table["num_missing"] == 0]["column"]

In [15]:
# reference_col_list = ["ClosePrice", "City", "CountyOrParish"]

In [16]:
df_clean = fill_na_by_cluster(df=df_clean,
                              target_col_list=col_need_to_fill_na,
                              reference_col_list=reference_col_list,
                              method="k-prototypes",
                              num_clusters=10,
                              random_state=42)

In [19]:
quality_summary_table = data_quality_summary(df_clean)
quality_summary_table.sort_values(by=["missing_%"], ascending=False)

               column    dtype  n_unique  missing_%  num_missing
0       BuyerAgentAOR   object        53        0.0            0
1        ListAgentAOR   object        53        0.0            0
2              ViewYN     bool         2        0.0            0
3       PoolPrivateYN     bool         2        0.0            0
4   OriginalListPrice  float64      6421        0.0            0
..                ...      ...       ...        ...          ...
56           BambooYN     bool         2        0.0            0
57         ConcreteYN     bool         2        0.0            0
58            StoneYN     bool         2        0.0            0
59       SeeRemarksYN     bool         2        0.0            0
60            BrickYN     bool         2        0.0            0

[61 rows x 5 columns]

In [21]:
save_name = "cleaned"
i = 1
while os.path.exists(save_name + ".csv"):
    save_name = save_name + str(i)
    i += 1
df_clean.to_csv(save_name + ".csv", index=False)